@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;

  --neutral: #000000;
  --primary: #ffffff;
  --secondary: #737373;
  --outline: #262626;
  --tertiary: #48484a;
}

@theme inline {
  /* --color-background: var(--neutral);
  --color-foreground: var(--primary); */
  --color-heading: var(--primary);
  --color-body-text: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-neutral: var(--neutral);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-space-grotesk: var(--font-space-grotesk);
  --font-inter: var(--font-inter);
  --font-jetbrains-mono: var(--font-jetbrains-mono);
  --font-plus-jakarta-sans: var(--font-plus-jakarta-sans);
}

@media (prefers-color-scheme: Dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
